In [7]:
import pandas as pd

In [8]:
pd.__version__

'2.0.3'

In [45]:
df = pd.read_csv('data/green_tripdata_2019-09.csv.gz', nrows=100)

In [63]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [47]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [48]:
from sqlalchemy import create_engine

In [49]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [50]:
engine.connect()

In [51]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [52]:
df_iter = pd.read_csv('data/green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [53]:
df = next(df_iter)

In [54]:
len(df)

100000

In [55]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [56]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [57]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 5.28 s, sys: 78.9 ms, total: 5.36 s
Wall time: 11.7 s

1000

In [58]:
from time import time

In [59]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        break

inserted another chunk, took 12.013 second
inserted another chunk, took 11.669 second

/tmp/ipykernel_6786/2512579374.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.910 second
inserted another chunk, took 4.869 second

In [29]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [60]:
df_zones = pd.read_csv('data/taxi+_zone_lookup.csv')

In [61]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [64]:
df_zones.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [62]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265